<div ng-controller="JsonArticleCtrl" ng-init="setup()">
  <div class="row"><!--START row title/search-->
    <div class="col-sm-6">
      <h1 class="contentTitle">ARTICLES</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group articleSerach" >
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          <input type="text" class="form-control" placeholder="Article Search" ng-model="search">
        </div>
      </div>
    </div>
  </div><!--END row title/search-->
  <div class="row"><!--START row ARTICLE-->
    <div dir-paginate="article in articles | orderBy:'-published_date' | filter:search | itemsPerPage:6" class="col-lg-6">
      <div class="custCard articleGrid" ng-click='articleClick(article.link)'>
        <h5><a ng-href="{{article.link}}" target="blank">{{ article.title}}</a></h5>
        <p ng-if="article.author" class="authorLine">{{ article.author}}</p>
        <p ng-if="!article.author" class="authorLine">Genome Web</p>
        <p class="dateLine"><em>{{ article.published_date }}</em></p>
        <p><a ng-href="{{article.link}}" target="blank">Read More</a></p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="col-sm-12">
      <dir-pagination-controls max-size="5" class="article-nav center-block" direction-links="true" boundary-links="true" ></dir-pagination-controls>
    </div>
  </div>
</div>
