    <div ng-controller="JsonArticleCtrl" ng-init="setup()">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Search</div>
          <input type="text" class="form-control" placeholder="Search articles" ng-model="search">
        </div>
      </div>

      <div class="row">
              <div dir-paginate="article in articles | filter:search | itemsPerPage:4">
                <div><a ng-href="/articles/{{ article.id }}">{{ article.title}}</a></div>
                <div>{{ article.description}}</div>
                <div>{{ article.thumbnail}}</div>
                <div>{{ article.published_date}}</div>
                <div>{{ article.content}}</div>
                <div>{{ article.author}}</div>
              </div>

          <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
      </div>

      <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
      <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
      <% end %>

    </div>
