<div ng-app="app">

  <div ng-controller="JsonUserCtrl" ng-init="setup()">
    <div>
      <p>Hello World!</p>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Search</div>
        <input type="text" class="form-control" placeholder="Search users" ng-model="search">
      </div>
    </div>

    <div class="row">
      <h3>Users Information</h3>

      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tbody>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Department</th>
            </tr>
            <tr ng-repeat="user in users | filter:search">
              <td>{{ user.email}}</td>
              <td>{{ user.first_name}}</td>
              <td>{{ user.last_name}}</td>
              <td>{{ user.department}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
    <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <% end %>
  </div>
</div>
