<div class="container">
  <h1>User Info</h1>
    <!-- <h4>Name: <%= @users.first_name %></h4> -->
    <br><br>
  <!-- <div>
    <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-info" role="button">Edit</a>
    <a rel="nofollow" data-method="delete" href="/recipes/<%= @recipe.id %>", class="btn btn-info" role="button">Delete</a>
  </div> -->
</div>
