<div class="row">
	<div class="col-sm-12">
		<h1 class="contentTitle">TWITTER</h1>
	</div>
</div>
<a class="twitter-timeline" href="https://twitter.com/intelliatweets" data-widget-id="713109574643888128" data-chrome="noheader nofooter noborders transparent">Tweets by @intelliatweets</a>