<h1 class="contentTitle">Twitter Feed</h1>
<a class="twitter-timeline" href="https://twitter.com/intelliatweets" data-widget-id="713109574643888128" data-chrome="noheader nofooter noborders transparent">Tweets by @intelliatweets</a>