<div class="card">
        <div class="softwareAdminTab">
            <a href="#first" aria-controls="first" role="tab" data-toggle="tab" class="activeTab"><h5>HUMAN RESOURCE</h5></a>

            <a href="#second" aria-controls="second" role="tab" data-toggle="tab"><h5>FINANCE</h5></a>

            <a href="#third" aria-controls="third" role="tab" data-toggle="tab"><h5>RESEARCH DEPARTMENT</h5></a>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="first">

            <div class="row softList">
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>
            <div class="row softList">
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>


          </div>
          <div role="tabpanel" class="tab-pane" id="second">

            <div class="row softList">
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="third">
            <div class="row softList">
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>
            <div class="row softList">
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3">
              <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>

          </div>
        </div>
      </div>
