<div class="row">
  <h5 class="col-md-12 sofwareDepTitl">HUMAN RESOURCE</h5>
</div>
<div class="row softList">
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
</div>
<div class="row softList">
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <img src="https://s.graphiq.com/sites/default/files/1081/media/images/BambooHR_2478613.png" class="img-responsive" />
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
</div>
