<h1 class="contentTitle">MY TOOLS</h1>


<% if current_user.admin %>
  <%= render("admin") %>
<% else %>
  <% if current_user.human_resources? %>
  <div>
    <%= render("hr") %>
  </div>
  <% elsif current_user.finance?%>
  <div>
    <%= render("finance") %>
  </div>
  <% elsif current_user.research_development?%>
  <div>
    <%= render("rd") %>
  </div>
  <% end %>
<% end %>
