<% if user_signed_in? %>
<div class="col-md-3 profileCol">
  <div class="imageLine">
    <%= image_tag(current_user.photo.thumb, class:"img-responsive")  %>
  </div>
  <div class="nameLine">
    <%= current_user.first_name + " " +  current_user.last_name %>
  </div>
  <div class="departLine">
    <%= current_user.department  %>
  </div>
  <div class="lastLoginLine">
    <p>Last Login: <%= current_user.last_sign_in_at.strftime("%r") %></p>
  </div>

  <div ng-controller="JsonUserCtrl" ng-init="setup()">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Search</div>
        <input type="text" class="form-control" placeholder="Search ME" ng-model="search">
      </div>
    </div>

    <div class="row">
      <h3>Users Information</h3>

      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tbody>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Department</th>
            </tr>
            <tr ng-repeat="user in users | filter:search">
              <td>{{ user.email}}</td>
              <td>{{ user.first_name}}</td>
              <td>{{ user.last_name}}</td>
              <td>{{ user.department}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div class="col-md-2 menuCol">
  <ul>
    <li>ARTICLES</li>
    <li>TECHNOLOGIES</li>
    <li>TWITTER</li>
    <li>CALENDAR</li>
  </ul>
</div>
<% end %>
