<h1>User Show page</h1>

<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Department: <%= @user.department %></p>
<p>Photo: <%= image_tag @user.photo.url.to_s %></p>
