<p>Welcome <%= @email %>!</p>
<p>OneIntellia is Intellia Therapeutics’ new intranet solution where you can access your all your tools and relevant news, in one convenient place.</p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
